@import "../../style.scss";

.introduction {

    display: flex;
    justify-content: center;

    @include mobile {
        flex-direction: column;
    }

    .wrapper {
        width: 100vw;
        height: calc(100vh - 300px);
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            width: 100%;
            height: 100%;
            margin-top: 150px;
            padding-left: 0;
            align-items: center;
        }

        h1 {
            font-size: calc(40px + 4vmin);
            margin: 15px 0;

            @include mobile {
                font-size: 12vmin;
            }
        }
        
        h2 {
            font-size: 4vmin;

            @include mobile {
                font-size: 8vmin;
            }
        }

        h3 {
            font-size: calc(10px + 2.5vmin);
            font-style: none;

            span {
                color: darkviolet;
            }
            .ityped-cursor {
                animation: cursorBlink 1s infinite;
            }

            @keyframes cursorBlink {
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }

            @include mobile {
                font-size: 5vmin;
            }
        }
    }

    a {
        position: absolute;
        bottom: 1vmin;
        left: 50%;

        img{
            width: 4vmin;
            animation: arrowAnimation 2s infinite;
        }

        @keyframes arrowAnimation {
            100% {
                opacity: 0;
            }
        }
    }
}