@import "../../style.scss";

.project {
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.5s ease;

    .arrow {
        height: 100px;
        position: absolute;
        cursor: pointer;
        
        &.left {
            left: 0px;
            transform: rotate(90deg);
        }

        &.right {
            right: 0px;
            transform: scaleY(-1) rotate(-90deg);
        }
    }
    
    .slider {
        height: 550px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        .project-container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .project{
                width: 70%;
                max-width: 1050px;
                height: 50vw;
                max-height: 100%;
                background-color: aliceblue; 
                border-radius: 30px;
                display: flex;
                flex-direction: column;

                .top {
                    flex: 10vw;
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .top-header{
                        flex: 1.5vw;
                        margin: 3% 3% 0% 3%;
                        display: flex;
                        flex-direction: row;

                        .title-container {
                            flex: 3;
                            
                            h2 {
                                font-size: clamp(20px, 3vw, 55px);
                            }
                        }
                        
                        .icon-container {
                            flex: 2;
                            display: flex;
                            height: 100%;
                            display: flex;
                            flex-direction: row;
                            
                            .logo {
                                width: 4vw;
                                height: 4vw;
                                max-width: 55px;
                                max-height: 55px;
                                margin-right: 20%;
                            }
                        }
                    }

                    .top-body {
                        flex: 4;

                        ul {
                            padding: 0 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            
                            span {
                                font-size: clamp(10px, 1.5vw, 20px);
                                color: $mainColor;
                                font-weight: 600;
                                margin-bottom: 1%;
                                margin-top: 2%
                            }

                            li {
                                font-size: clamp(10px, 1.5vw, 20px);
                                margin-bottom: 1%;

                                span {
                                    font-style: bold;
                                    font-size: clamp(10px, 1.5vw, 20px);
                                    color: $mainColor;
                                    font-weight: 700;
                                }
                            }
                        }
                    }

                }

                .bottom {
                    flex: 3;
                    display: flex;
                    flex-direction: row;

                    .left {
                        flex: 1;
                        display: flex;
                        height: 90%;
                        width: 20vw;
                        
                        .img-container{
                            scrollbar-width: none;
                            &::-webkit-scrollbar{
                            display: none;
                            }
                            
                            video {
                                margin-left: 5%;
                                border-radius: 20px;
                                width: 90%;
                            }

                            img {
                                margin-left: 5%;
                                border-radius: 20px;
                                width: 90%;
                            }
                        }
                    }

                    .right {
                        flex: 1;
                        display: flex;
                        width: 90%;
                        height: 90%;

                        .img-container{
                            scrollbar-width: none;
                            &::-webkit-scrollbar{
                            display: none;
                            }

                            img {
                                margin-left: 5%;
                                border-radius: 20px;
                                width: 90%;
                            }
                        }
                    }
                }
            }
        }
    }
}