.contact {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease;
    
    h2 {
        font-size: 3vw;
        margin-top: clamp(5%, 10vw, 6%);
        margin-bottom: clamp(1%, 10vw, 3%);
    }

    form {
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        input {
            width: clamp(40%, 20vw, 100%);
            height: 2vw;
            font-size: 1.5vw;
            border: none;
            border-radius: 0.5vw;
            padding: 0.5vw;
            margin-bottom: 2vw;
        }

        textarea {
            width: clamp(40%, 20vw, 100%);
            height: 15vw;
            font-size: 1.5vw;
            border: none;
            border-radius: 0.5vw;
            padding: 0.5vw;
            margin-bottom: 2vw;
        }            

        button {
            width: 7vw;
            height: 3vw;
            font-size: 1.5vw;
            border: none;
            border-radius: 1vw;
            padding: 0.5vw;
            cursor: pointer;
            font-weight: 500;
            background-color: rgb(103, 27, 226);
            color: aliceblue;
            box-shadow: 0 0 2vw 0px rgb(103, 27, 226);
            margin-bottom: 2vw;
        }

        span {
            color: rgb(103, 27, 226)
        }
    }
}