@import "../../style.scss";

.skill {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 1s ease;
    
    h1 {
        font-size: clamp(10px, 5vw, 80px);
        margin-top: clamp(-10%, -3vmin, -20%);
        margin-bottom: clamp(1%, 3vmin, 3%);
    }

    ul {
        padding: 0;
        list-style: none;
        display: flex;
    }
    
    .wrapper {
        width: 100vw;
        display: flex;
        justify-content: center;

        .skill-container {
            width: 80%;
            max-width: 1600px;
            height: 100%;
            max-height: 750px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
    
            .skill {
                flex: 1 0 21%;
                width: 15vmin;
                height: 15vmin;
                max-width: 300px;
                max-height: 250px;
                border-radius: 20px;
                border: 1px solid aliceblue;
                margin: 30px 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: aliceblue;
                position: relative;
                cursor: pointer;

                @include mobile {
                    width: 15vmin;
                    height: 15vmin;
                    max-width: 200px;
                    max-height: 200px;
                    margin: 3vmin 6vmin;
                }
    
                h3 {
                    position: absolute;
                    font-size: 20px;
                }
    
                img {
                    object-fit: cover;
                    z-index: 1;
                }
    
                &:hover {
                    background-color: $mainColor;
                    img {
                        opacity: 0.2;
                        z-index: 0;
                    }
                }
            }
        }
    }
}