@import "../../style.scss";

.experience {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    h1 {
        font-size: clamp(40px, 5vw, 80px);
    }

    .experience-container {
        width: 100%;
        height: clamp(30%, 50vw, 70%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        @include mobile {
            flex-direction: column;
            height: 70%;
        }

        .card-container {
            background-color: aliceblue;
            width: clamp(20%, 30vw, 450px);
            height: clamp(15%, 40vw, 80%);
            border-radius: 10px;
            box-shadow: 0px 0px 15px -8px black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            transition: all 1s ease;

            @include mobile {
                width: clamp(50%, 30vw, 90%);
                height: clamp(30%, 40vw, 30%);
            }

            &.highlight {
                width: clamp(20%, 33vw, 500px);
                height: clamp(15%, 43vw, 85%);

                @include mobile {
                    width: clamp(55%, 35vw, 90%);
                    height: clamp(33%, 45vw, 33%);
                }
            }

            &:hover {
                transform: scale(1.1);
            }

            .card-top {
                height: 15%;
                width: 55%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 3vw;

                .middle-icon {
                    height: clamp(30px, 4vw, 70px);
                    width: clamp(30px, 4vw, 70px);
                    border-radius: 50%;
                }
                
                .left-icon {
                    height: clamp(15px, 2.5vw, 40px);
                    width: clamp(15px, 2.5vw, 40px);
                }

                .right-icon {   
                    height: clamp(15px, 2.7vw, 45px);
                    width: clamp(15px, 2.7vw, 45px);
                }
            }

            .card-middle {
                height: clamp(15%, 10vw, 25%);
                width: 80%;
                margin-top: 10%;
                border-radius: 0.5vw;
                padding: 5%;
                background-color: rgb(236, 227, 241);
                justify-content: center;
                align-items: center;
                display: flex;

                @include mobile {
                    margin-top: 0;
                    font-size: clamp(20px, 1.3vw, 30px);
                }

                p {    
                    font-size: clamp(5px, 1.3vw, 20px);
                    font-weight: 400;

                    @include mobile {
                        font-size: clamp(10px, 2vw, 15px);
                    }
                }
            }

            .card-bottom {
                flex: 1;
                margin-top: clamp(3%, 3vw, 5%);
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    font-weight: 700;
                    font-size: clamp(10px, 1.7vw, 30px)
                }

                h4 {
                    color: rgb(28, 36, 33);
                    margin-top: clamp(1%, 1.5vw, 3%);
                    font-weight: 600;
                    font-size: clamp(10px, 1.3vw, 20px)
                }
            }
        }
    }
}