.app {
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 10vh);   
        position: relative;
        top: 10vh;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }

        > *{
            width: 100vw;
            height: calc(100vh - 10vh);
            scroll-snap-align: start;
            background: url(../public/assets/homepage.svg) no-repeat fixed 100%;
            background-size: 200vh;
            background-position: center 10vh;
        }
    }
}